/* de-bootstrapping */
.row > .col-md-6,
.row > .col-md-4{
  padding: 10px;
}

.card > .card-img-top{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.col-md-6 > .card,
.col-lg-4 > .card{
  border-radius: 0px;
}
